*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    
   
  
}
.faderight{
    animation: 1.5s fadeInRight;
    animation-iteration-count: 1;
}
 @keyframes fadeInRight {
            0% {
               opacity: 0;
               transform: translateX(50px);
            }
            100% {
               opacity: 1;
               transform: translateX(0);
            }
         }
         
.fade{
    transition: 0.7s ease-in;
}
.fadeOut{
    opacity:0;
}
.fadeIn{
    opacity:1;
}

.mynav_ul{
    list-style: none;
    display: flex;
    align-items: center;
    height:50%;
    width:75%;
    margin-left: auto;
    justify-content: space-around;
    margin-top: 25px;

}
.mynav_item a{
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}
.mynav_item:hover{
    color: aliceblue;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.4),rgba(255,255,255,0.4));
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.25s ease-out;
    

}
.mylogo{
    margin: 25px 25px;
    border-radius: 50%;

}

.topintro{
    background-color: White;
    color:black;
    height: 400px;
}
.sectitle_intro{
   float:right;
    margin-right:30px;
    margin-top:15%;
    z-index: 1;
    font-size: x-large;
}

.myskills>h2{
    text-decoration: underline 4px solid whitesmoke;
    font-weight: bolder;
  
    
}


.workpiece_img{

    
    height:300px;
    margin-left:10%;
    width:33.3%;;
    border-radius: 7px;
    margin-bottom: 20px;
    filter:drop-shadow(10px 10px 10px rgba(255,255,255,0.4));
}
.mywork{
    padding: 15px
}
.workpiece_img:hover{
     animation: moveup 0.75s;
    animation-iteration-count: 1;
    border: 3px solid rgb(98, 212, 64);
}
.sectitle_myprojects{
    text-align:center;
    padding: 20px;
    font-size: xx-large;
    text-decoration: underline 5px solid black;
}
.secsubtitle{
     text-align:center;
    padding: 50px;
    font-size: xx-large;
    text-decoration: underline 3px solid black;
}


@keyframes moveup {
  0% { transform: translateY(10px); }
  10% { transform: translateY(10px);  }

}

.first_img{
    height: 250px;
    width:500px;
    position: absolute;
    top:22%;
    left: 10%;
    margin-left: 15px;
    filter:drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
    border-radius: 5px;
}
.myprojects{
    background-color: black;
    color:white;
    border-radius: 8px;
    margin: 4%;
    height:fit-content;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}
.myprojects>h2{
    padding: 5px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
.myprojects>p{
    padding: 5px;
    font-size: large;
}
.myskills>h2{
    padding: 5px;
    font-size: xx-large;
}
.myskills{
    height:fit-content;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 4%;
    filter: drop-shadow(10px 15px 15px rgba(0, 0, 0, 0.6));
    
}
.skill>p{
    padding: 5px;
    margin-bottom: 30px;
}
.skill>h3{
    padding: 5px;
    font-size: x-large;

}
.button{
    text-decoration: underline;
    color: aliceblue;
    padding-bottom: 10px;
    
 
}
.button:hover{
    text-decoration: none;
    color:aliceblue;
    background:linear-gradient(to right bottom, rgba(255, 255, 255, 0.5),rgba(255,255,255,0.6));
    padding: 12px;
    border-radius: 5px;
    transition: 0.5s ease-out;
}
.bio{
    
    
    height:400px;
   background-color: white;
   color:black;

}
.sectitle_bio{
    text-align: center;
    padding-top:10px;
    text-decoration: underline;
    font-size: x-large;

}
.bio>p{
    font-size: 20px;
    margin-left: 25px;
    padding-top:150px;
    float:left;
}
.bio_image{
    float: right;
    margin-right: 10%;
    border-radius: 5px;
    margin-top: 80px;
    filter:drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
    
}
.bio_image:hover{

    animation: moveup 0.25s;
    animation-iteration-count: 1;
    border: 2px solid rgb(98, 212, 64);
}
.footer{
    border-radius: 3px;
    height: 250px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
}
.social_links{
    
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items:center;
}
.contact{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.socialitem{
    padding-top: 25px;
    font-size: larger;
    color: white;
    filter:drop-shadow(10px 10px 10px rgba(255,255,255,0.3));
}
.socialitem:hover{
    padding-top: 5px;
    font-size: larger;
    color: white;
    filter:drop-shadow(10px 10px 10px rgba(255,255,255,0.3));
     animation: moveup 0.5s;
    animation-iteration-count: 1;
}
 .fa-envelope{

     color: white;
     font-size: 45px;
 }
.fa-twitter-square{
    color: white;
    font-size: 45px;
}
 .fa-facebook{
     color: white;
     font-size: 45px;
 }
  .fa-instagram{
     color: white;
     font-size: 45px;
 }
  .fa-envelope:hover{
     color: rgb(226, 55, 43);
     
 }
.fa-twitter-square:hover{
    color: rgb(43, 144, 226);
}
 .fa-facebook:hover{
     color: rgba(43, 107, 226, 0.63);
 }
  .fa-instagram:hover{
     color: rgba(241, 70, 213, 0.692);
 }
nav .Openmenu{
    font-size: 2rem;
    margin: 5px;
    display: none;
    cursor:pointer;
}
nav .mynav_ul .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}


/*pc users*/
@media only screen and (max-width:1200px) {
    body{
        width: 100%;
    }
    .sectitle_intro{
        right:10%;
        left: 20%;
        font-size:x-large;
        position: absolute;
        top:250px;
        text-align: justify;
        padding-top: 30px;
        z-index: 1;
        float:right;
        margin-right:30px;
        margin-top:15%;
        
    } 
    
     .first_img{
        margin-top: 17px;
        width: 70%;
        position: absolute;
        object-fit:contain;
        margin-left: 0;
      
        
    }
       .bio>p{
    text-align: center;
    padding-top:50px;
    padding-bottom: 10px;
 
}
.bio{
    height:450px;
   background-color: white;
   color:black;

}
    .bio_image{
    align-content: center;
    margin-right:40%;
    border-radius: 5px;
    margin-top: 25px;
}
.contact{
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.socialitem{
    padding-left: 2px;
    align-items: left;
}

.fa-envelope{
     color: white;
     font-size: 40px;
 }
.fa-twitter-square{
    color: white;
    font-size: 40px;
}
 .fa-facebook{
     color: white;
     font-size: 40px;
 }
  .fa-instagram{
     color: white;
     font-size: 40px;
 }

}
/*Tab users*/
@media only screen and (max-width:991px) {
body{
        width: 100%;
    }
     .sectitle_intro{
       
        left: 20%;
        margin-right: 15px;
        font-size:x-large;
        position: absolute;
        top:275px;
        text-align: justify;
        padding-top: 30px;
        z-index: 1;
    } 
     .first_img{
        margin-top: 17px;
        width: 50% ;
        position: absolute;
        object-fit: contain;
        top:20%;
        left: 20%;
        margin-left: 15px;
    }
       .bio>p{
    margin-left: 10px;
    padding-top:30px;
    padding-bottom: 10px;
 
}

.bio{
    height:400px;
   background-color: white;
   color:Black;

}
    .bio_image{
    align-content: center;
    margin-right:35%;
    border-radius: 5px;
    margin-top: 10px;
}
.contact{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.socialitem{
    padding-left: 2px;
    align-items: left;
}

.fa-envelope{
     color: white;
     font-size: 35px;
 }
.fa-twitter-square{
    color: white;
    font-size: 35px;
}
 .fa-facebook{
     color: white;
     font-size: 35px;
 }
  .fa-instagram{
     color: white;
     font-size: 35px;
 }

}

/*phone users*/
@media only screen and (max-width:767px) {
    body{
        width: 100%;
    }
    .sectitle_intro{
        right:10%;
        left: 10%;
        margin-right: 15px;
        font-size:26px;
        position: absolute;
        top:300px;
        text-align: justify;
        padding-top: 35px;
    } 


    .first_img{
      
        width: 80%;
        position: absolute;
        top:17%;
        left: 5%;
        margin-left: 15px;
    }
    .bio>p{
    margin-left: 10px;
    padding-top:30px;
    padding-bottom: 10px;
 
}
.bio{
    height:400px;
   background-color: white;
   color:black;

}
    .bio_image{
   
    margin-right:20%;
    border-radius: 5px;
   
}

.workpiece_img{ 

    height:250px;
    margin-left:8.33%;
    width:83.33%;
    height:200px;
    margin-left:10%;
    Object-fit: cover;
    border-radius: 7px;
    margin-bottom: 20px;
    filter:drop-shadow(10px 10px 10px rgba(255,255,255,0.3));
    
    
}
.line{
		width: 30px;
		height: 3px;
		background: white;
		margin: 5px;
	}
	nav{
		position: relative;
	}


	.Openmenu{
        display: block;
		position: absolute;
		cursor: pointer;
		right:5%;
		top:45%;
		transform: translate(-5%,-50%);
        		
	}
    nav .mynav_ul{
        height: 100vh;
        width: 100%;
        position: fixed;
        margin-top: 0;
        right:0;
        left:0;
        z-index:10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.8);
        transition: 1s ease-in-out;
        display: none;
    }
    nav .mynav_item{
        margin-bottom:75px;
        
    }
    .fa-bars{
         border: 2px solid white;
         padding: 5px;
         border-radius: 7px;
    }
    .fa-bars:hover{
         background: white;
         color: rgba(0, 0, 0, 0.8);
         padding: 5px;
         border-radius: 10px;
    }

    
    

    nav .mynav_ul .closeMenu{
        display: block;
        position: absolute;
        top:25px;
        right: 40px;
    }
    nav .Openmenu{
        display: block;
    
    }
    nav .closeMenu{
        display: block;
        padding: 5px;
    }
   .contact{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

    .footer{
    
    height: 150px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}
.socialitem{
    padding-left: 2px;
    align-items: left;
}

.fa-envelope{
     color: white;
     font-size: 30px;
 }
.fa-twitter-square{
    color: white;
    font-size: 30px;
}
 .fa-facebook{
     color: white;
     font-size: 30px;
 }
  .fa-instagram{
     color: white;
     font-size: 30px;
 }
}
